<div class="home-background">
    <div class="row search">
        <div class="col-lg-4 col-lg-offset-4">
            <form class="text-center " ng-submit="searchTeam() ">
                <p class="input-group ">
                    <input class="form-control " type="text " name="team " placeholder="Enter Team Name " ng-model="team " />
                    <span class="input-group-btn ">
                    <button type="submit " class="btn btn-default "><i class="glyphicon glyphicon-search "></i></button>
                </span>
                </p>
            </form>
        </div>
    </div>
</div>
