<div class="row">
    <div class="home-background">
        <div class="vertical-center">
            <div class="col-lg-6">
                <div class="search-container">
                    <form ng-submit="searchTeam()">
                        <h2 class="text-center title">Stadium Traveler</h2>
                        <p class="input-group">
                            <input class="form-control" type="text" placeholder="Search a Team Name" ng-model="searchedTeam" uib-typeahead="team.teamName for team in teams | filter:$viewValue | limitTo:8" typeahead-editable="false" ng-required="true" />
                            <span class="input-group-btn ">
                            <button type="button" class="btn btn-default" ng-click="searchTeam()"><i class="glyphicon glyphicon-search "></i></button>
                    </span>
                        </p>
                        <custom-alerts alert-type="errorAlert"></custom-alerts>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
