<div class="container">
    <div class="row">
        <div class="col-md-12">
            <tabset justified="true">
                <tab heading="NHL">
                    <div ng-repeat="game in surroundingSchedule.nhl track by $index">
                        <schedule-item game="game"></schedule-item>
                    </div>
                </tab>
                <tab heading="NBA">
                    <div ng-repeat="game in surroundingSchedule.nba track by $index">
                        <schedule-item game="game"></schedule-item>
                    </div>
                </tab>
                <tab heading="MLB">
                    <div ng-repeat="game in surroundingSchedule.mlb track by $index">
                        <schedule-item game="game"></schedule-item>
                    </div>
                </tab>
                <tab heading="NFL">
                    <div ng-repeat="game in surroundingSchedule.nfl track by $index">
                        <schedule-item game="game"></schedule-item>
                    </div>
                </tab>
                <tab heading="NCAAF">
                    <div ng-repeat="game in surroundingSchedule.ncaaf track by $index">
                        <schedule-item game="game"></schedule-item>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
