<div class="row">
    <tabset justified="true">
        <tab heading="NHL">
            <div ng-repeat="game in surroundingSchedule.nhl track by $index">
                <schedule-item game="game"></schedule-item>
            </div>
        </tab>
        <tab heading="NFL">
            <div ng-repeat="game in surroundingSchedule.nfl track by $index">
                <schedule-item game="game"></schedule-item>
            </div>
        </tab>
        <tab heading="NBA">
            DATA NOT AVAILABLE
        </tab>
        <tab heading="MLB">
            DATA NOT AVAILABLE
        </tab>
        <tab heading="NCAAF">
            DATA NOT AVAILABLE
        </tab>
    </tabset>
</div>
