<div class="row">
    <uib-tabset active="active">
        <uib-tab heading="NHL">
            <div ng-repeat="game in surroundingSchedule.nhl track by $index">
                <schedule-item game="game"></schedule-item>
            </div>
        </uib-tab>
        <uib-tab heading="NFL">
            <div ng-repeat="game in surroundingSchedule.nfl track by $index">
                <schedule-item game="game"></schedule-item>
            </div>
        </uib-tab>
        <uib-tab heading="NBA">
            DATA NOT AVAILABLE
        </uib-tab>
        <uib-tab heading="MLB">
            DATA NOT AVAILABLE
        </uib-tab>
        <uib-tab heading="NCAAF">
            DATA NOT AVAILABLE
        </uib-tab>
    </uib-tabset>
</div>
